@model actores 
@{//utiliza la clase del modelo Artista en este formulario
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<div class="card">
  <div class="card-header">
    Crear actor
  </div>
  <div class="card-body">
    <form asp-action="Guardar" asp-controller="Mantenedor" method="post">
    <div class="mb-3">
      <label class="form-label">Nombre del actor</label>
      <input asp-for="nombre" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
      <span asp-validation-for="nombre" class="text-danger"></span>
    </div>
        <button class="btn btn-primary" type="submit"><i class="bi bi-save-fill"></i> Guardar</button>
    </form>
    <a asp-action="ListarParticipaciones" asp-controller="Mantenedor" class="btn btn-warning"><i class="bi bi-skip-backward-circle"></i> Regresar a la lista</a>
</div>
</div>
